
.display-4 {
    text-align: center;
}

.containerStart {
    padding: 300px;
}

#matchpage-body {
    background-size: cover;
}

#openingScreen-body {
    background-size: cover;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 3%;
}

#login {
    text-align: center;
    padding: 20px;
}

.containerLogin {
    padding: 250px;
    background-color: rgb(192, 190, 190);
}

#matches-info {
    font-size: 15px;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#swolemate-matches {
    margin-top: 2%;
    text-align: center;
}

#match-location {
    margin-top: 1%;
}

.em-wave {
    font-size: 1.2em;
}

.em-musical_note {
    font-size: 1.2em;
}

.match-footer {
    background-color: #343a40 !important;
    text-align: center;
    color: rgba(255,255,255,.5) !important;
    margin-top: 3%;
}

.card-content {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.wrong-password-text {
    color: red !important;
}

.existing-email-text {
    color: red !important;
}

.wrong-loginInfo-text {
    color: red !important;
}

.profile-modal {
    margin-top: -6%;
}

#sign-up-button {
    background-color: #ff6f61;
    font-weight: bold;
    border: none;
    margin-top: 2em;
}

#login-button {
    background-color: #ff6f61;
    font-weight: bold;
    border: none;
    margin-top: 2em;
}

#sign-up-button:hover, #login-button:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pac-container {
    z-index: 1050 !important;
}

.wrong-loginInfo-text {
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: -3%;
}