
.display-4 {
    text-align: center;
}

.containerStart {
    padding: 300px;
    background-color: rgb(192, 190, 190);
}

#matchpage-body {
    background-size: cover;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 3%;
}

.card-footer {
    text-align: center;
}

#login {
    text-align: center;
    padding: 20px;
}

.containerLogin {
    padding: 200px;
    background-color: rgb(192, 190, 190);
}

#matches-info {
    font-size: 15px;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#swolemate-matches {
    margin-top: 2%;
    text-align: center;
}

